body {
  background: linear-gradient(to top left, #33cccc -70%, #ffffff 100%);
}

.head {
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Indie Flower', cursive;
  font-family: 'Poiret One', cursive;
  font-size: 55px;
  text-align: center;
}

.subhead {
  font-family: 'Open Sans Condensed', sans-serif;
  font-family: 'Indie Flower', cursive;
  font-family: 'Poiret One', cursive;
  font-size: 28px;
}

.description {
  text-align: center;
  font-style: italic;
}

/* .left {
  display: inline-block;
  width: 600px;
  float: left;
  margin-top: 25px;
  margin-left: 50px;
}

.right {
  display: inline-block;
  width: 600px;
  float: left;
  margin-left: 50px;
} */

.left {
  width: 50%;
  float: left;
  position: relative;
  left: 5%;
  overflow: auto;
  /* border: solid; */
  height: 600px;
}

.right {
  width: 40%;
  float: right;
  position: relative;
  right: 15%
  overflow: auto;
  /* border: solid; */
  height: 600px;
}


a:link {
  color: blue;
}

a:visited {
  color: blue;
}

a:hover {
  color: purple;
}

.bottom {
  text-align: center;
  font-size: small;
}

footer {
  text-align: center;
  margin: 50px 0;
}

.bottom {
  margin-top: 50px;
}
